@rendermode InteractiveServer
@inject IJSRuntime JS
@inject NavigationManager NM
@inject ProtectedLocalStorage ProtectedLocalStore
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using Newtonsoft.Json
@using client.Schemas
@using System.Text
@using System.Net.Http

<title>Records</title>

<style>
    .custom-btn:hover {
        background-color: green;
        color: white;
    }

    .logout-btn:hover {
        background-color: white;
        color: red;
    }

    .request-btn:hover {
        background-color: white;
        color: blue;
    }

    hr {
        border-top: 1px solid white;
    }

    .navbar-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
    }

        .navbar-nav .nav-item {
            margin-right: 20px;
        }

        .navbar-nav .link-btn {
            text-decoration: none;
            padding-bottom: 5px;
            position: relative;
            color: white;
            padding: 0.5rem 1rem;
        }

            .navbar-nav .link-btn::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background-color: white;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.3s ease;
            }

            .navbar-nav .link-btn.active::after,
            .navbar-nav .link-btn:hover::after {
                transform: scaleX(1);
                transform-origin: left;
            }

</style>

<section class="container py-3 my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-success text-white d-flex justify-content-between align-items-center">
                    <h3 class="card-title fw-bold mb-0">Records</h3>
                </div>
                <hr class="mt-2" />
                <div class="card-body bg-success text-light">
                <div class="row align-items-start">
                        <div class="col border border-light text-center">
                            UUID
                        </div>
                        <div class="col border border-light text-center">
                            Remarks
                        </div>
                        <div class="col border border-light text-center">
                            Patient
                        </div>
                        <div class="col border border-light text-center">
                            Doctor
                        </div>
                    </div>
                    @foreach (Dictionary<string, string> record in record_list)
                    {
                        var record_uuid = @record["record_uuid"];
                        <div class="row align-items-center bg-light text-dark">
                            <div class="col">
                                @record["record_uuid"]
                            </div>
                            <div class="col text-center">
                                @record["record_content"]
                            </div>
                            <div class="col text-center">
                                @record["patient_name"]
                            </div>
                            <div class="col text-center">
                                @record["doctor_name"]
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@code
{
    public string? user_token { get; set; }
    [Parameter]
    public string? user_uuid { get; set; }
    [Parameter]
    public string? user_role { get; set; }
    public List<Dictionary<string, string>> record_list { get; set; } = [new Dictionary<string, string>{{"record_uuid", "sampleid"},{"record_content", "sample"},{"patient_name", "sample"},{"doctor_name", "sample"}}];
    public class UserToken
    {
        public string? token { get; set; }
    }
    public async Task<UserToken> GetUserToken()
    {
        var token = await JS.InvokeAsync<UserToken>("getusertoken");
        return token;
    }
    protected override async Task OnInitializedAsync()
    {
        var result = await GetUserToken();
        user_token = result.token;
        await GetUserRecords(user_token);
    }
    public async Task GetUserRecords(string token)
    {
        using (var http = new HttpClient())
        {
            if (user_role != "user")
            {
                http.DefaultRequestHeaders.Add("Authorization", $"Bearer {token}");
                var response = await http.GetAsync($"http://127.0.0.1:8000/api/v1/records");
                var responsebody = await response.Content.ReadAsStringAsync();
                try
                {
                    response.EnsureSuccessStatusCode();
                    var records = JsonConvert.DeserializeObject<RecordData>(responsebody);
                    record_list.Clear();
                    foreach (var record in records.data)
                    {
                        record_list.Add(new Dictionary<string, string>{
                            { "record_uuid", record.record_uuid.ToString() },
                            { "record_content", record.record_content.ToString() },
                            { "doctor_name", record.doctor_name.ToString() },
                            { "patient_name", record.patient_name.ToString() }
                        });
                    }
                } catch (Exception e) {
                    Console.WriteLine(e);
                }
            } else {
                http.DefaultRequestHeaders.Add("Authorization", $"Bearer {token}");
                var response = await http.GetAsync($"http://127.0.0.1:8000/api/v1/records");
                var responsebody = await response.Content.ReadAsStringAsync();
                try
                {
                    response.EnsureSuccessStatusCode();
                    var records = JsonConvert.DeserializeObject<RecordData>(responsebody);
                    record_list.Clear();
                    foreach (var record in records.data)
                    {
                        record_list.Add(new Dictionary<string, string>{
                            { "record_uuid", record.record_uuid.ToString() },
                            { "record_content", record.record_content.ToString() },
                            { "doctor_name", record.doctor_name.ToString() },
                            { "patient_name", record.patient_name.ToString() }
                        });
                    }
                } catch (Exception e) {
                    Console.WriteLine(e);
                }
            }
        }
    }
}